html, body {
  overflow-x: hidden !important;
}

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: bold !important;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Start Link */
a {
  text-decoration: none !important;
  color: var(--color5);
  font-size: 1.3em;
  font-weight: bold;
  transition: all 0.7s ease-in-out;
}
a:hover {
  color: var(--color4) !important;
}

.link {
  padding: 10px;
}

.more {
  text-align: center;
}

.icons, .prog-item {
  transition: all 0.9s ease-in-out;
}
.icons:hover, .prog-item:hover {
  opacity: 0.6;
  transform: rotate(360deg) scale(1.1);
}

/* End Link */
/* Start Text */
p, h1, h2, h3, h4, h5, h6, a, button, .button-1, .button-2 {
  line-height: 0.9;
  letter-spacing: 1.5px;
}

p {
  font-size: 1.2em;
  line-height: 35px;
  margin-top: 18px;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: var(--color1);
  text-align: center;
  padding: 0 1rem;
}

h2 {
  margin: 0 auto 100px auto !important;
  text-align: center;
  width: 340px;
  font-size: 3em !important;
  text-transform: uppercase;
  color: var(--color1);
  position: relative;
  border-top: 3px solid var(--color5);
  border-bottom: 3px solid var(--color5);
  padding: 20px 0;
}

h5 {
  color: var(--font-color6);
  margin-bottom: 15px;
}

h6 {
  color: var(--font-color2);
  margin-top: 5%;
}

/* End Text */
button, select {
  outline: none !important;
}

ul {
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

section {
  padding: 50px 0;
}

.social-links {
  display: inline-flex;
  margin-bottom: 0;
}
.social-links li {
  margin-right: 1.5rem;
  width: 30px;
  transition: 0.3s ease;
}
.social-links li a {
  font-size: 28px !important;
}
.social-links li a:hover {
  font-size: 40px !important;
}

header {
  background-color: var(--color5);
  height: 70px;
}
header .header-items {
  position: relative;
  z-index: 100;
  height: 117px;
}
header .header-items .logo {
  width: 185px;
  padding: 15px 45px;
  border-radius: 50%;
  background-color: var(--color5);
}
header .header-items .logo img {
  width: 100%;
}
header .header-items nav {
  min-height: 70px;
  padding-bottom: 50px;
}
header .header-items nav #menuNav {
  z-index: 99999;
}
header .header-items nav #menuNav #closeMenu {
  display: none;
}
header .header-items nav #menuNav ul {
  margin: 0;
  z-index: 100;
}
header .header-items nav #menuNav ul a {
  display: block;
  color: var(--color1);
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px !important;
}
header .header-items nav #menuNav ul .active {
  color: var(--color4);
}
header .header-items nav #openMenu {
  display: none;
  color: var(--color4);
  padding: 15px;
  text-transform: uppercase;
  transition: all 0.7s ease;
}
header .header-items nav #openMenu:hover {
  color: var(--color1);
}

:root {
  --color1: #E2E5E9;
  --color2: #9EB8C9;
  --color3: #487DA0;
  --color4: #1F3753;
  --color5: #EC7929;
}

.hero {
  padding-top: 100px;
}
.hero .hero-items {
  height: 455px;
}
.hero .hero-items .text-items h1, .hero .hero-items .text-items h4, .hero .hero-items .text-items h6 {
  color: var(--color1);
  font-size: 29px;
}
.hero .hero-items .img img {
  width: 100%;
}

@media (max-width: 1326px) and (min-width: 1200px) {
  .hero .hero-items {
    height: 365px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .hero .hero-items {
    height: 360px;
    gap: 80px;
  }
}
@media screen and (max-width: 991px) {
  .hero .hero-items {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 991px) and (min-width: 420px) {
  .hero .hero-items > div {
    text-align: center;
  }
  .hero .hero-items h1 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 767px) {
  header .header-items nav #openMenu, header .header-items nav #closeMenu {
    display: block !important;
    font-size: 30px;
  }
  header .header-items nav #menuNav {
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
  }
  header .header-items nav #menuNav #menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 282px;
    height: 366px;
    padding: 40px 0;
    text-align: center;
    color: var(--color4);
    border-radius: 0 0 0 20px;
    transition: all 0.7s !important;
    background-color: var(--color5);
    box-shadow: 0 0 30px 10px var(--color4);
  }
  header .header-items nav #menuNav #menu #closeMenu {
    position: absolute;
    top: 15px;
    right: 30px;
  }
  header .header-items nav #menuNav #menu #closeMenu i:hover {
    color: var(--color1) !important;
  }
  header .header-items nav #menuNav #menu ul {
    flex-direction: column;
    padding: 3rem 0 0 0;
  }
  header .header-items nav #menuNav #menu ul .active {
    color: var(--color4) !important;
  }
  .about::before {
    display: none;
  }
  .skills .prog-item span::after {
    left: 63px !important;
  }
  .contact .myinfo {
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
  }
  .contact .social-media {
    top: 0 !important;
    left: 0 !important;
    position: relative !important;
    display: flex !important;
    justify-content: center;
    gap: 50px;
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  header nav {
    display: none !important;
  }
}
@media screen and (min-width: 321px) and (max-width: 576px) {
  .skills .prog-items {
    gap: 50px 0 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .projects .projects-items {
    gap: 55px;
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .hero .img {
    width: 426px !important;
  }
}
@media screen and (max-width: 419px) {
  .hero .hero-items {
    height: 385px;
  }
  .hero .hero-items > div {
    text-align: center;
  }
  .hero .hero-items h1 {
    font-size: 1.5em !important;
  }
}
@media screen and (max-width: 320px) {
  p {
    font-size: 6vw !important;
  }
  h5 {
    font-size: 7vw !important;
  }
  header .logo {
    font-size: 8.5vw !important;
    text-align: center;
  }
  .skills h1 {
    font-size: 17vw !important;
  }
  .skills .prog-items {
    display: grid !important;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .skills .prog-items h5 {
    font-size: 7vw;
  }
  .skills .prog-items .prog {
    width: 8vw !important;
  }
  .skills .prog-items .prog span::after {
    font-size: 5vw;
  }
  .contact .social-media i {
    font-size: 10vw !important;
  }
  .contact li {
    font-size: 5vw !important;
  }
  footer p {
    font-size: 5vw !important;
  }
}
/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger. // Screens (Smaller Smartphones)

* Medium, which has the md class infix is 768px or larger. // Screens (Tablets And Larger Smartphones)

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger. // Screens (Laptops)

* Extra extra large, which is infixed by xxl , is 1400px or larger. // Screens (Larger Desktops And Monitors)
*/
.contact {
  padding: 10px 0;
}
.contact .social-media {
  position: fixed;
  top: 28%;
  left: -10px;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  gap: 0 45px;
}
.contact .social-media i {
  margin: 10px 0;
  font-size: 1.7em;
  transition: 0.7s ease;
}
.contact .social-media i:hover {
  transform: scale(1.1);
}
.contact .myinfo {
  margin-bottom: 0;
  padding-left: 0;
}
.contact .myinfo li {
  display: flex;
  align-items: center;
  height: 30px;
  text-transform: lowercase;
  font-size: 16px;
  font-family: fangsong;
}
.contact .myinfo li i {
  margin-right: 10px !important;
}
.contact .myinfo li:last-child {
  margin-bottom: 0;
}

.about .about-items {
  margin: 0 auto;
}
.about .about-items p {
  text-transform: initial;
}

.skills .skills-items .prog-items {
  gap: 50px;
}
.skills .skills-items .prog-items .prog-item {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skills .skills-items .prog-items .prog-item:hover {
  flex-direction: column-reverse;
}
.skills .skills-items .prog-items .prog-item h5 {
  font-size: 15px;
  font-weight: 900;
  margin: 0;
  color: var(--color1);
  transition: all 0.7s ease-in-out;
}
.skills .skills-items .prog-items .prog-item h5:hover {
  opacity: 1;
}
.skills .skills-items .prog-items .prog-item .icon {
  height: 70px;
}
.skills .skills-items .prog-items .prog-item i, .skills .skills-items .prog-items .prog-item svg, .skills .skills-items .prog-items .prog-item img {
  font-size: 70px;
  color: var(--color1);
}
.skills .skills-items .prog-items .prog-item img {
  width: 100%;
}
.skills .skills-items .prog-items .prog-item .prog {
  background-color: var(--color3);
  height: 20rem;
  width: 23px;
}
.skills .skills-items .prog-items .prog-item .prog span {
  display: flex;
  align-items: self-end;
  color: var(--color10);
  font-family: math;
  width: 100%;
  height: 100%;
  background-color: var(--color10);
  position: relative;
}
.skills .skills-items .prog-items .prog-item .prog span::before {
  content: attr(data-progress);
  position: absolute;
  left: -35px;
  bottom: 0;
}
.skills .skills-items .prog-items .prog-item .prog span::after {
  margin-left: -40px;
}
.skills .skills-items .prog-items .prog-item .prog, .skills .skills-items .prog-items .prog-item span {
  border-radius: 20px;
}
.skills .skills-items .prog-items .prog-item .html {
  animation: html 1s;
}
.skills .skills-items .prog-items .prog-item .css {
  animation: css 1s;
}
.skills .skills-items .prog-items .prog-item .sass {
  animation: sass 1s;
}
.skills .skills-items .prog-items .prog-item .bootstrap {
  animation: bootstrap 1s;
}
.skills .skills-items .prog-items .prog-item .javascript {
  animation: javascript 1s;
}
@keyframes html {
  0% {
    height: 0%;
  }
  100% {
    height: 65%;
  }
}
@keyframes css {
  0% {
    height: 0%;
  }
  100% {
    height: 70%;
  }
}
@keyframes sass {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}
@keyframes bootstrap {
  0% {
    height: 0%;
  }
  100% {
    height: 40%;
  }
}
@keyframes javascript {
  0% {
    height: 0%;
  }
  100% {
    height: 19%;
  }
}
.skills .skills-items .prog-items .prog-item:nth-of-type(1):hover h5, .skills .skills-items .prog-items .prog-item:nth-of-type(1):hover i {
  color: #e44f26;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(2):hover h5, .skills .skills-items .prog-items .prog-item:nth-of-type(2):hover i {
  color: #1572b6;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(3):hover h5, .skills .skills-items .prog-items .prog-item:nth-of-type(3):hover i {
  color: #efbe24;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(4):hover h5, .skills .skills-items .prog-items .prog-item:nth-of-type(4):hover i {
  color: #cf649a;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(5):hover h5, .skills .skills-items .prog-items .prog-item:nth-of-type(5):hover i {
  color: #8411f6;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(6):hover h5, .skills .skills-items .prog-items .prog-item:nth-of-type(6):hover i {
  color: rgb(52, 123, 167);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(7) svg {
  height: 70px;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(7) path {
  fill: var(--color1);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(7):hover path:nth-of-type(1) {
  fill: rgb(249, 171, 0);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(7):hover path:nth-of-type(2),
.skills .skills-items .prog-items .prog-item:nth-of-type(7):hover path:nth-of-type(3) {
  fill: rgb(255, 193, 7);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(7):hover h5 {
  background: linear-gradient(90deg, rgb(255, 193, 7) 55%, rgb(255, 160, 0) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  --ms-background-clip: text;
  --o-background-clip: text;
  --webkit-background-clip: text;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8) svg {
  height: 83px;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8) polygon, .skills .skills-items .prog-items .prog-item:nth-of-type(8) path, .skills .skills-items .prog-items .prog-item:nth-of-type(8) circle {
  fill: var(--color1);
  stroke: black;
  stroke-width: 0.5px;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8):hover polygon, .skills .skills-items .prog-items .prog-item:nth-of-type(8):hover path, .skills .skills-items .prog-items .prog-item:nth-of-type(8):hover circle {
  stroke: none;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8):hover polygon {
  fill: rgb(255, 193, 7);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8):hover path {
  fill: rgb(30, 136, 229);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8):hover circle {
  fill: rgb(67, 160, 71);
}
.skills .skills-items .prog-items .prog-item:nth-of-type(8):hover h5 {
  background: linear-gradient(90deg, rgb(76, 175, 80) 0%, rgb(255, 193, 7) 55%, rgb(33, 150, 243) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  --ms-background-clip: text;
  --o-background-clip: text;
  --webkit-background-clip: text;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(9) h5:hover {
  background: linear-gradient(0deg, rgb(102, 102, 204) 0%, rgb(255, 0, 255) 51%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  --ms-background-clip: text;
  --o-background-clip: text;
  --webkit-background-clip: text;
}
.skills .skills-items .prog-items .prog-item:nth-of-type(10) h5:hover {
  background: linear-gradient(90deg, rgb(76, 175, 80) 0%, rgb(255, 193, 7) 55%, rgb(33, 150, 243) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  --ms-background-clip: text;
  --o-background-clip: text;
  --webkit-background-clip: text;
}

.projects .projects-items {
  gap: 55px;
}
.projects .projects-items .project-item {
  position: relative;
  padding: 0;
  /* text-align: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .projects-items .project-item img {
  width: 100%;
  height: 100%;
  border-radius: 50px 0 50px 0;
  box-shadow: 0px 3px 10px 3px;
}
.projects .projects-items .project-item i {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: auto;
  color: var(--color1);
  background-color: var(--color5);
  transition: all 0.7s ease-in-out;
  border-radius: 50px 0 50px 0;
}
.projects .projects-items .project-item i:hover {
  opacity: 0.7;
  border: 1px solid var(--color5);
  box-shadow: 0px 3px 10px 3px var(--color5);
}

footer {
  background-color: var(--color10);
}
footer .first-row {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 0 4.5rem;
}
footer .first-row ul {
  font-size: 15px !important;
  font-weight: 500;
  padding-left: 0;
  margin: 0;
}
footer .first-row .item {
  text-align: left;
  margin: 1rem 0;
}
footer .first-row .item h5 {
  color: var(--bs-blue);
}
footer .first-row .item .contact li {
  margin-bottom: 0.5rem;
  color: var(--font-color2);
}
footer .first-row .item .contact li span {
  margin-left: 7px;
}
footer .first-row .item .link-pages li {
  margin-bottom: 0.5rem;
}
footer .first-row .item .link-pages li a:hover {
  margin-top: 1%;
  text-decoration: underline;
}
footer .copy {
  padding: 1px;
}
footer .copy p {
  color: var(--color5);
  text-transform: lowercase;
  font-size: 17px;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}
footer .copy i {
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color5);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  -webkit-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  box-shadow: 0 0 25px 30px var(--color4);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color1);
  box-shadow: 0 0 25px 30px var(--color1);
}

body {
  animation: fadeingAnimation ease-in-out 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#preload {
  background: var(--color4) url(../images/NERMEN-ALRAYYAN.gif) no-repeat center center;
  background-size: 150px;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}/*# sourceMappingURL=style.css.map */