*, body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold !important;
  font-family: 'Cormorant Garamond', serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color1) !important;
}

/* Start Link */
a {
  text-decoration: none !important;
  color: var(--font-color2);
  font-size: 1.3em;
}

a:hover {
  color: var(--font-color4);
}

.link {
  padding: 10px;
}

.more {
  text-align: center;
}

/* End Link */
/* Start Text */
p, h1, h2, h3, h4, h5, h6, a, button, .button-1, .button-2 {
  text-transform: capitalize;
}

p {
  font-size: 1.2em;
  line-height: 28px;
  margin-top: 18px;
  letter-spacing: 1px;
  color: var(--color12);
  text-align: center;
  width: 65%;
}

h1 {
  text-align: center;
  color: var(--color13);
  margin: 0 0  35px 0 !important;
  font-size: 3em !important;
}

h2 {
  color: var(--color10);
}

h5 {
  color: var(--font-color6);
  margin-bottom: 15px;
  font-size: x-large;
}

h6 {
  color: var(--font-color2);
  margin-top: 5%;
}

/* End Text */
button, select {
  outline: none !important;
}

ul {
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

a, button {
  -webkit-transition: .6s;
  transition: .6s;
}

section {
  padding: 50px 0;
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
}

.social-links li {
  margin-right: 1.5rem;
  width: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.social-links li a {
  font-size: 28px !important;
}

.social-links li a:hover {
  font-size: 40px !important;
}

header {
  background-color: var(--color10);
  position: fixed;
  z-index: 1000;
}

header .header-items .logo {
  color: var(--color1);
  font-family: initial;
  font-size: 1.7em;
}

header .header-items .logo span {
  color: var(--color3);
  font-size: 1.5em;
  font-weight: bold;
}

header .header-items nav {
  min-height: 70px;
}

header .header-items nav .list-nav {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

header .header-items nav label {
  display: none;
}

header .header-items nav label i {
  font-size: 30px;
  margin-top: 5px;
  color: beige !important;
}

header .header-items nav .menu-nav {
  z-index: 99999;
}

header .header-items nav .menu-nav ul {
  margin: 0;
}

header .header-items nav .menu-nav ul a {
  display: block;
  color: var(--color1);
  padding: 15px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

header .header-items nav .menu-nav ul a:hover {
  color: var(--color6);
}

header .header-items nav .menu-nav ul .active {
  color: var(--color6);
}

:root {
  --color1: #e3f2fd;
  --color2: #BBDEFB;
  --color3: #90CAF9;
  --color4: #64B5F6;
  --color5: #42A5F5;
  --color6: #2196F3;
  --color7: #1E88E5;
  --color8: #1976D2;
  --color9: #1565C0;
  --color10: #0D47A1;
  --color11: honeydew;
  --color12: #343a40;
  --color13: #383c40;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero::before {
  content: "";
  position: absolute;
  background-image: url(../images/close-tag.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  top: 32%;
  right: 5%;
}

.hero .hero-items {
  position: absolute;
  top: 48%;
}

.hero .hero-items h2, .hero .hero-items h3 {
  color: var(--color2);
}

@media (max-width: 1400px) {
  .about::before {
    top: 82.5% !important;
    left: 17.9% !important;
  }
  .skills span::after {
    left: 15px !important;
  }
  .skills .prog .javascript::after {
    top: 29px;
    left: 32px !important;
  }
}

@media (max-width: 1200px) {
  .about::before {
    top: 85.9% !important;
    left: 11.9% !important;
  }
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden !important;
  }
  header nav .open, header nav .close {
    display: block !important;
  }
  header nav .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  header nav .list-nav:checked ~ .menu-nav {
    right: 0;
  }
  header nav .menu-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: red;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
    -webkit-transition: .7s !important;
    transition: .7s !important;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0 0 0;
  }
  .about::before {
    display: none;
  }
}

@media (max-width: 576px) {
  header nav {
    display: none !important;
  }
  .hero::before {
    top: 28% !important;
    right: 9.9% !important;
    width: 80% !important;
  }
  .hero .hero-items {
    top: 66.5%;
    text-align: center;
    left: 2%;
  }
  .skills .prog-item {
    width: 45% !important;
    margin: 5% 0;
  }
  .about .about-items {
    margin-left: 0 !important;
  }
  .projects .project-item {
    width: 55% !important;
    margin: 5% 0 !important;
  }
  .contact .myinfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0 !important;
  }
}

@media (max-width: 320px) {
  .hero::before {
    top: 28% !important;
    right: 9.9% !important;
  }
  .hero .hero-items {
    top: 75%;
    text-align: center;
    left: 2%;
    width: inherit;
  }
  .skills span::after {
    left: 15px !important;
  }
  .skills .prog .javascript::after {
    top: 29px;
    left: 24px !important;
  }
  .contact .social-media {
    top: 45% !important;
  }
}

/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger. // Screens (Smaller Smartphones)

* Medium, which has the md class infix is 768px or larger. // Screens (Tablets And Larger Smartphones)

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger. // Screens (Laptops)

* Extra extra large, which is infixed by xxl , is 1400px or larger. // Screens (Larger Desktops And Monitors)
*/
.contact {
  background-color: var(--color10);
  color: var(--color1);
}

.contact .social-media {
  position: fixed;
  top: 42%;
  left: -10px;
  width: auto;
}

.contact .social-media i {
  margin: 10px 0;
  font-size: 2em;
  color: var(--color6);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.contact .social-media i:hover {
  color: var(--color4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact .myinfo {
  margin-bottom: 0;
}

.contact .myinfo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  text-transform: lowercase;
  font-size: 1em;
  font-family: fangsong;
  margin: 0 10px;
}

.contact .myinfo li i {
  margin-right: 10px !important;
}

.contact .myinfo li:last-child {
  margin-bottom: 0;
}

.about .about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  margin-left: 8%;
}

.about::before {
  content: "about";
  font-size: 20em;
  position: absolute;
  z-index: 1;
  color: var(--color11);
  top: 85.5%;
  left: 18.9%;
}

.skills {
  background-color: var(--color2);
}

.skills .prog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .prog-items .prog-item {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.skills .prog-items .prog-item h5 {
  color: var(--color12);
}

.skills .prog-items .prog-item .prog {
  background-color: var(--color3);
  height: 20rem;
  width: 15%;
}

.skills .prog-items .prog-item .prog span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  color: var(--color10);
  font-family: math;
  width: 100%;
  background-color: var(--color10);
}

.skills .prog-items .prog-item .prog span::after {
  position: absolute;
  left: 35px;
}

.skills .prog-items .prog-item .prog, .skills .prog-items .prog-item span {
  border-radius: 20px;
}

.skills .prog-items .prog-item .html {
  height: 80%;
  -webkit-animation: html 1s;
          animation: html 1s;
}

.skills .prog-items .prog-item .html::after {
  content: "80%";
}

.skills .prog-items .prog-item .css {
  height: 60%;
  -webkit-animation: css 1s;
          animation: css 1s;
}

.skills .prog-items .prog-item .css::after {
  content: "60%";
}

.skills .prog-items .prog-item .sass {
  height: 40%;
  -webkit-animation: sass 1s;
          animation: sass 1s;
}

.skills .prog-items .prog-item .sass::after {
  content: "40%";
}

.skills .prog-items .prog-item .bootstrap {
  height: 10%;
  -webkit-animation: bootstrap 1s;
          animation: bootstrap 1s;
}

.skills .prog-items .prog-item .bootstrap::after {
  content: "10%";
}

.skills .prog-items .prog-item .javascript {
  height: 5%;
  -webkit-animation: javascript 1s;
          animation: javascript 1s;
}

.skills .prog-items .prog-item .javascript::after {
  content: "5%";
}

@-webkit-keyframes html {
  0% {
    height: 0%;
  }
  100% {
    height: 80%;
  }
}

@keyframes html {
  0% {
    height: 0%;
  }
  100% {
    height: 80%;
  }
}

@-webkit-keyframes css {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@keyframes css {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@-webkit-keyframes sass {
  0% {
    height: 0%;
  }
  100% {
    height: 40%;
  }
}

@keyframes sass {
  0% {
    height: 0%;
  }
  100% {
    height: 40%;
  }
}

@-webkit-keyframes bootstrap {
  0% {
    height: 0%;
  }
  100% {
    height: 10%;
  }
}

@keyframes bootstrap {
  0% {
    height: 0%;
  }
  100% {
    height: 10%;
  }
}

@-webkit-keyframes javascript {
  0% {
    height: 0%;
  }
  100% {
    height: 5%;
  }
}

@keyframes javascript {
  0% {
    height: 0%;
  }
  100% {
    height: 5%;
  }
}

.projects .projects-items .project-item {
  width: 25%;
  margin: auto;
}

.projects .projects-items .project-item img {
  width: 100% !important;
  height: 45vh;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.projects .projects-items .project-item img:hover {
  opacity: 0.8;
}

.projects .projects-items .project-item a {
  position: relative;
}

.projects .projects-items .project-item h5 {
  margin-top: 15px;
  text-align: center;
  color: var(--color10);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.projects .projects-items .project-item h5:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: var(--bg-color2);
}

footer .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 5rem 0 4.5rem;
}

footer .first-row ul {
  font-size: 15px !important;
  font-weight: 500;
  padding-left: 0;
  margin: 0;
}

footer .first-row .item {
  text-align: left;
  margin: 1rem 0;
}

footer .first-row .item h5 {
  color: var(--bs-blue);
}

footer .first-row .item .contact li {
  margin-bottom: 0.5rem;
  color: var(--font-color2);
}

footer .first-row .item .contact li span {
  margin-left: 7px;
}

footer .first-row .item .link-pages li {
  margin-bottom: 0.5rem;
}

footer .first-row .item .link-pages li a:hover {
  margin-top: 1%;
  text-decoration: underline;
}

footer .copy {
  text-align: center;
  background-color: var(--color9);
  color: var(--color2);
  padding: 10px 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color8);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color3);
}
/*# sourceMappingURL=style.css.map */