.contact
{
    background-color: var(--color10);
    color: var(--color1);

    .social-media
    {
        position: fixed;
        top: 42%;
        left: -10px;
        width: auto;
    
        i
        {
            margin: 10px 0;
            font-size: 1.7em;
            color: var(--color6);
            transition: 0.7s ease;

            &:hover
            {
                color: var(--color4);
                transform: scale(1.1);
            }
        }
    }

    .myinfo
    {
        // width: 47%;
        margin-bottom: 0;

        li
        {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            height: 30px;

            text-transform: lowercase;
            font-size: 16px;
            font-family: fangsong;
            // margin: 5px 10px;

            i
            {
                margin-right: 10px !important;
            }
        }

        li:last-child
        {
            margin-bottom: 0;
        }
    }
}