.contact
{
    padding: 10px 0;

    .social-media
    {
        position: fixed;
        top: 28%;
        left: -10px;
        width: auto;
        text-align: center;
    
        i
        {
            margin: 10px 0;
            font-size: 1.7em;
            transition: 0.7s ease;

            &:hover
            {
                transform: scale(1.1);
            }
        }
    }

    .myinfo
    {
        margin-bottom: 0;    
        padding-left: 0;

        li
        {
            display: flex;
            align-items: center;
            height: 30px;

            text-transform: lowercase;
            font-size: 16px;
            font-family: fangsong;

            i
            {
                margin-right: 10px !important;
            }
        }

        li:last-child
        {
            margin-bottom: 0;
        }
    }
}