html
{
    overflow-x: hidden !important;
    
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

*, body, html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-weight: bold !important;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    // scroll-behavior: smooth; // يحعل الحركه في الموقع ناعمه وليست سريعه
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* Start Link */
a
{
    text-decoration: none !important;
    color: var(--color5);
    font-size: 1.3em;
    font-weight: bold;
    transition: all 0.9s ease-in-out;
}

.link
{
    padding: 10px;
}

.more
{
    text-align: center;
}

.icon, .prog-item {
    transition: all 0.9s ease-in-out;
}
/* End Link */


/* Start Text */ 
p, h1, h2, h3, h4, h5, h6, a, button, .button-1, .button-2
{
    line-height: 0.9;
    letter-spacing: 1.5px;
}


p
{
    font-size: 1.2em;
    line-height: 35px;
    margin-top: 18px;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: var(--color1);
    text-align: center;
    padding: 0 1rem;
}


h2
{
    margin: 0 auto 100px auto !important;
    text-align: center;
    width: 340px;
    font-size: 3em !important;
    text-transform: uppercase;
	color: var(--color1);
    position: relative;
    border-top: 3px solid var(--color5);
    border-bottom: 3px solid var(--color5);
    padding: 20px 0;
}

h5
{
    color: var(--font-color6);
    margin-bottom: 15px;
}

h6
{
    color: var(--font-color2);
    margin-top: 5%;
}
/* End Text */ 


button, select
{
    outline: none !important;
}

ul
{
    margin-bottom: 0;
    
    li
    {
        list-style: none;
    }
}

section {
    // padding: 15px;
    padding: 70px 0;
    padding: 25px;
    // position: relative;
    height: auto;
    width: 100%;
}

// .about-items, .skills-items, .projects-items{
//     display: flex;
//     justify-content: space-between;
//     gap: 120px;
//     align-items: center;
//     flex-wrap: wrap;
// }

.fixed-header + .page-content
{
    height: 100vh;
    width: 100hw;
    padding-top: 8rem;
    // height: 95vh;

    // position: relative;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // overflow: hidden;
    // height: 100vh;
    // width: 100vw;
}


.social-links
{
    display: inline-flex;
    margin-bottom: 0;

    li
    {
        margin-right: 1.5rem;
        width: 30px;
        transition: .3s ease;

        a
        {
           font-size: 28px !important;

            &:hover
            {
                font-size: 40px !important;
            }
        }
    }
}

