.hero
{
  // height: 100vh;
  // width: 100%;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 70px;

  .hero-items
  {   
    height: 455px;
    gap: 190px;
    

    .text-items{

      h2, h4, h6
      {
        color: var(--color2);
      }
    }

    .img {
      img {
        width: 100%;
      }
    }
  }
}