.hero
{
    // height: 100vh;
    // width: 100%;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    // position: relative;

    // &::before
    // {
    //     content: "";
    //     // position: absolute;
    //     // background-image: url(../images/close-tag.svg);
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     // width: 48%;
    //     width: 690px;
    //     height: 50%;
    //     // top: 32%;
    //     // right: 5%;
    // }

    .hero-items
    {
        // position: absolute;
        // top: 48%;
        // display: flex;
        // justify-content: start;
        align-items: center;
        height: 575px;
        gap: 190px;
        

        .text-items{
          // height: 489px;
          // width: 300px;

          h2, h4
          {
            color: var(--color2);
          }
        }

        .img {
          img {
            width: 100%;
          }
        }

        // p
        // {
        //     color: var(--color6);
        //     text-align: left;
        //     font-size: 1.2em;
        // }
    }
}