.hero
{
  // padding-top: 100px;

  .hero-items
  {   
    height: 455px;
    

    .text-items{

      h1, h4, h6
      {
        color: var(--color1);
        font-size: 29px;
      }
    }

    .img {
      img {
        width: 100%;
        filter: drop-shadow(0 0 7px var(--color5));
      }
    }
  }
}