// Start About
.about
{
    .about-items
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 20px;
        position: relative;
        z-index: 2;
        // margin-left: 8%;
    }

    // &::before
    // {
    //     content: "about";
    //     font-size: 20em;
    //     position: absolute;
    //     z-index: 1;
    //     color: var(--color11);
    //     top: 86%;
    //     left: 20%;
    // }
}
// End About


// Start Skills
.skills
{
    background-color: var(--color2);

    .prog-items
    {
        display: flex;
        justify-content: center;
    
        .prog-item
        {
            // width: 15%;
            width: 144px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: skew(15deg);
            
    
            h5
            {
                color: var(--color12);
            }
    
            .prog
            {
                background-color: var(--color3);
                height: 20rem;
                width: 23px;
                // padding-right: 10px;
    
                span
                {
                    display: flex;
                    align-items: end;
                    color: var(--color10);
                    font-family: math;
                    // padding-right: 5px;
                    width: 100%;
                    // height: 100%;
                    background-color: var(--color10);

                    &::after
                    {
                        // content: "";
                        // background-color: red;

                        // position: absolute;
                        // left: 35px;
                        margin-left: -40px;
                    }
                }
            }
    
            .prog, span
            {
                border-radius: 20px;
            }

            .html
            {
                height: 65%;
                animation: html 1s;

                &::after
                {
                    content: "65%";
                }
            }
    
            .css
            {
                height: 70%;
                animation: css 1s;

                &::after
                {
                    content: "70%";
                }
            }
    
            .sass
            {
                height: 50%;
                animation: sass 1s;

                &::after
                {
                    content: "50%";
                }
            }
    
            .bootstrap
            {
                height: 40%;
                animation: bootstrap 1s;

                &::after
                {
                    content: "40%";
                }
            }
    
            .javascript
            {
                height: 19%;
                animation: javascript 1s;

                &::after
                {
                    content: "19%";
                    // position: absolute;
                    // top: 27px;
                    // left: 43px;
                }
            }
    
            @keyframes html
            {
                0%
                {
                    height: 0%;
                }
    
                100%
                {
                    height: 65%;
                }
            }
    
            @keyframes css
            {
                0%
                {
                    height: 0%;
                }
    
                100%
                {
                    height: 70%;
                }
            }
    
            @keyframes sass
            {
                0%
                {
                    height: 0%;
                }
    
                100%
                {
                    height: 50%;
                }
            }
    
            @keyframes bootstrap
            {
                0%
                {
                    height: 0%;
                }
    
                100%
                {
                    height: 40%;
                }
            }
    
            @keyframes javascript
            {
                0%
                {
                    height: 0%;
                }
    
                100%
                {
                    height: 19%;
                }
            }
        }
    }
}
// End Skills 



// Start Projects
.projects
{
    .projects-items
    {
        .project-item
        {
            width: 25%;
            margin: auto;

            img
            {
                width: 100% !important;
                height: 45vh;
                transition: 0.5s ease;

                &:hover
                {
                    opacity: 0.8;
                    // transform: scale(1.1);
                }
            }

            a
            {
                position: relative;

                // i
                // {
                //    visibility: hidden;
                // //    width: 0;
                // //     height: 0;
                //     font-size: 65px;
                // }

                // &:hover i
                // {
                //     visibility: visible;
                //     z-index: 200;
                //     color: var(--color10);
                // }

                // &:hover
                // {
                //     z-index: 100;
                //     transform: translate(-190px, 25px);
                // }
            }

            h5
            {  
                margin-top: 15px;
                text-align: center;
                color: var(--color10);
                transition: 0.5s ease;
            
                &:hover
                {
                    transform: scale(1.1);
                }
            }
        }
    }
}