// Start About
.about
{
    .about-items
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding: 20px;
      position: relative;
      z-index: 2;
      width: 85%;
      margin: 0 auto;

      // margin-left: 8%;
    }

    // &::before
    // {
    //     content: "about";
    //     font-size: 20em;
    //     position: absolute;
    //     z-index: 1;
    //     color: var(--color11);
    //     top: 86%;
    //     left: 20%;
    // }
}
// End About


// Start Skills
.skills
{
    background-color: var(--color2);
  .skills-items
  {

    .prog-items
    {
      gap: 50px;
      // display: flex;
      // justify-content: center;
  
      .prog-item
      {
        // width: 15%;
        // width: 144px;
        width: 88px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // transform: skew(15deg);
        
        // transition: all .8s ease-in-out;
        // -webkit-transform: rotate3d(0,0,0,0deg);
        // -moz-transform: rotate3d(0,0,0,0deg);
        // -o-transform: rotate3d(0,0,0,0deg);
        // transform: rotate3d(0,0,0,0deg);

        &:hover {
          flex-direction: column-reverse;
          // opacity: .6;
          
          // -webkit-transform: rotate3d(23,1,23,20deg) scale(1.1);
          // -moz-transform: rotate3d(23,1,23,20deg) scale(1.1);
          // -o-transform: rotate3d(23,1,23,20deg) scale(1.1);
          // transform: rotate3d(23,1,23,20deg) scale(1.1);

          // -webkit-transform: rotate(360deg) scale(1.1);
          // -moz-transform: rotate(360deg) scale(1.1);
          // -o-transform: rotate(360deg) scale(1.1);
          // transform: rotate(360deg) scale(1.1);


          h5 {
            margin: 15px 0 0 0;
          }
        }
        
        h5
        {
          color: var(--color12);
        }

        i {
          font-size: 55px;
          // transition: all .5s ease-in-out;
          
          // &:hover {
          //   opacity: .8;
          // }
        }

        .prog
        {
            background-color: var(--color3);
            height: 20rem;
            width: 23px;
            // padding-right: 10px;

            span
            {
                display: flex;
                // display: block;
                align-items: self-end;
                color: var(--color10);
                font-family: math;
                // padding-right: 5px;
                width: 100%;
                height: 100%;
                background-color: var(--color10);
                position: relative;

                &::before
                {
                    content: attr(data-progress);
                    position: absolute;
                    // background-color: black;
                    // color: white;
                    left: -35px;
                    bottom: 0;
                }

                &::after
                {
                    // content: "";
                    // background-color: red;

                    // position: absolute;
                    // left: 35px;
                    margin-left: -40px;
                }
            }
        }

        .prog, span
        {
            border-radius: 20px;
        }

        .html
        {
            // height: 65%;
            animation: html 1s;

            // &::after
            // {
            //     content: "65%";
            // }
        }

        .css
        {
            // height: 70%;
            animation: css 1s;

            // &::after
            // {
            //     content: "70%";
            // }
        }

        .sass
        {
            // height: 50%;
            animation: sass 1s;

            // &::after
            // {
            //     content: "50%";
            // }
        }

        .bootstrap
        {
            // height: 40%;
            animation: bootstrap 1s;

            // &::after
            // {
            //     content: "40%";
            // }
        }

        .bootstrap
        {
            // height: 40%;
            animation: bootstrap 1s;

            // &::after
            // {
            //     content: "40%";
            // }
        }

  
          // .javascript
          // {
          //     height: 19%;
          //     animation: javascript 1s;

          //     &::after
          //     {
          //         content: "19%";
          //         // position: absolute;
          //         // top: 27px;
          //         // left: 43px;
          //     }
          // }
  
          @keyframes html
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 65%;
              }
          }
  
          @keyframes css
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 70%;
              }
          }
  
          @keyframes sass
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 50%;
              }
          }
  
          @keyframes bootstrap
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 40%;
              }
          }
  
          @keyframes javascript
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 19%;
              }
          }
      }

      .prog-item:nth-of-type(1) {
        h5, i {
          color: #e44f26;
        }
      }
  
      .prog-item:nth-of-type(2) {
        h5, i {
          color: #1572b6;
        }
      }
  
      .prog-item:nth-of-type(3) {
        h5, i {
          color: #cf649a;
        }
      }
  
      .prog-item:nth-of-type(4) {
        h5, i {
          color: #8411f6;
        }
      }
      .prog-item:nth-of-type(5) {
        h5, i {
          color: rgb(52 123 167);
        }
      }
    }
  }
}
// End Skills 



// Start Projects
.projects
{
  // height: 417px;

    .projects-items
    {
      gap: 55px 55px;
      // display: grid;
      // justify-items: center;
      // grid-template-columns: 1fr 1fr;

        .project-item
        {
            // width: 275px;
            // height: 270px;
            /* text-align: center; */
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            img
            {
              width: 275px;
              height: 100%;
              margin-bottom: 10px;
              transition: 0.5s ease;

              &:hover
              {
                  opacity: 0.8;
                  // transform: scale(1.1);
              }
            }

            span
            {
                // position: relative;
                margin-top: 15px;
                margin-bottom: 0 !important;
                text-align: center;
                color: var(--color10);
                transition: 0.5s ease;
            
                &:hover
                {
                  transform: scale(1.1);
                }
                // i
                // {
                //    visibility: hidden;
                // //    width: 0;
                // //     height: 0;
                //     font-size: 65px;
                // }

                // &:hover i
                // {
                //     visibility: visible;
                //     z-index: 200;
                //     color: var(--color10);
                // }

                // &:hover
                // {
                //     z-index: 100;
                //     transform: translate(-190px, 25px);
                // }
            }
        }
    }
}