// Start About
.about
{
    .about-items
    {
      margin: 0 auto;

      p {
        text-transform: initial;
      }
    }
}
// End About

// Start Skills
.skills
{
  .skills-items
  {

    .prog-items
    {
      gap: 50px;
  
      .prog-item
      {
        width: 147px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &:hover {
          flex-direction: column-reverse;
          opacity: .6;


          .icon
          {
            -webkit-transform: rotate(360deg) scale(1.1);
            -moz-transform: rotate(360deg) scale(1.1);
            -o-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
          }
        }
        
        h5
        {
          font-size: 15px;
          font-weight: 900;
          margin: 0;
          color: var(--color1);
          transition: all 0.7s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }

        .icon {
          height: 70px;
        }

        i, svg, img {
          font-size: 70px;
          color: var(--color1);

          filter: drop-shadow(0 0 5px var(--color5));
        }

        img {
          width: 100%;
          
        }

        .prog
        {
            background-color: var(--color3);
            height: 20rem;
            width: 23px;

            span
            {
                display: flex;
                align-items: self-end;
                color: var(--color10);
                font-family: math;
                width: 100%;
                height: 100%;
                background-color: var(--color10);
                position: relative;

                &::before
                {
                    content: attr(data-progress);
                    position: absolute;
                    left: -35px;
                    bottom: 0;
                }

                &::after
                {
                  margin-left: -40px;
                }
            }
        }

        .prog, span
        {
          border-radius: 20px;
        }

        .html
        {
          animation: html 1s;
        }

        .css
        {
          animation: css 1s;
        }

        .sass
        {
          animation: sass 1s;
        }

        .bootstrap
        {
          animation: bootstrap 1s;
        }

        .javascript
        {
          animation: javascript 1s;
        }
  
          @keyframes html
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 65%;
              }
          }
  
          @keyframes css
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 70%;
              }
          }
  
          @keyframes sass
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 50%;
              }
          }
  
          @keyframes bootstrap
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 40%;
              }
          }
  
          @keyframes javascript
          {
              0%
              {
                  height: 0%;
              }
  
              100%
              {
                  height: 19%;
              }
          }
      }

      .prog-item:nth-of-type(1) {
        &:hover {
          h5, i {
            color: #e44f26;
          }

          i {
            filter: drop-shadow(0 0 5px #e44f26);
          }
        }
        
      }
  
      .prog-item:nth-of-type(2) {
        &:hover {
          h5, i {
            color: #1572b6;
          }
          i {
            filter: drop-shadow(0 0 5px #1572b6);
          }
        }
      }
      
      .prog-item:nth-of-type(3) {
        &:hover {
          h5, i {
            color: #efbe24;
          }

          i {
            filter: drop-shadow(0 0 5px #efbe24);
          }
        }
      }
  
      .prog-item:nth-of-type(4) {
        &:hover {
          h5, i {
            color: #cf649a;
          }

          i {
            filter: drop-shadow(0 0 5px #cf649a);
          }
        }
      }
  
      .prog-item:nth-of-type(5) {
        &:hover {
          h5, i {
            color: #8411f6;
          }

          i {
            filter: drop-shadow(0 0 5px #8411f6);
          }
        }
      }

      .prog-item:nth-of-type(6) {

        &:hover {
          h5, i {
            color: rgb(52 123 167);
          }

          i {
            filter: drop-shadow(0 0 5px rgb(52 123 167));
          }
        }
      }

      .prog-item:nth-of-type(7) {
        svg {
          height: 70px;
        }

        path {
          fill: var(--color1);
        }
        &:hover {

          path:nth-of-type(1) {
            fill: rgb(249, 171, 0);
          }

          path:nth-of-type(2),
          path:nth-of-type(3) {
            fill: rgb(255 193 7);
          }

          svg {
            filter: drop-shadow(0 0 5px rgb(249, 171, 0))
                    drop-shadow(0 0 5px rgb(255 193 7));
          }

          h5 {
            background: linear-gradient(90deg, rgb(255 193 7) 55%, rgb(255 160 0) 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            --ms-background-clip: text;
            --o-background-clip: text;
            --webkit-background-clip: text;
          }
        }
      }

      .prog-item:nth-of-type(8) {

        svg {
          height: 83px;
        }

        polygon, path, circle {
          fill: var(--color1);
          stroke: black;
          stroke-width: .5px;
        }

        &:hover {

          svg {
              filter: drop-shadow(0 0 3px rgb(67, 160, 71))
                      drop-shadow(0 0 3px rgb(255, 193, 7))
                      drop-shadow(0 0 3px rgb(30, 136, 229));
          }
          polygon, path, circle {
            stroke: none;
          }

          polygon {
            fill: rgb(255, 193, 7);
          }

          path {
            fill: rgb(30, 136, 229);
          }

          circle{
            fill: rgb(67, 160, 71);
          }

          h5 {
            background: linear-gradient(90deg, rgb(76, 175, 80) 0%, rgb(255, 193, 7) 55%, rgb(33, 150, 243) 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            --ms-background-clip: text;
            --o-background-clip: text;
            --webkit-background-clip: text;
          }
        }
      }

      .prog-item:nth-of-type(9) {
        h5:hover {
          background: linear-gradient(0deg, rgb(102, 102, 204) 0%, rgb(255, 0, 255) 51%);
          -webkit-text-fill-color: transparent;
          background-clip: text;
          --ms-background-clip: text;
          --o-background-clip: text;
          --webkit-background-clip: text;
        }
      }

      .prog-item:nth-of-type(10) {
        h5:hover {
          background: linear-gradient(90deg, rgb(76, 175, 80) 0%, rgb(255, 193, 7) 55%, rgb(33, 150, 243) 100%);
          -webkit-text-fill-color: transparent;
          background-clip: text;
          --ms-background-clip: text;
          --o-background-clip: text;
          --webkit-background-clip: text;
        }
      }
    }
  }
}
// End Skills 

// Start Projects
.projects {
    .projects-items {
      gap: 55px;

        .project-item {
          position: relative;
          padding: 0;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 200px;
          width: 380px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50px 0 50px 0;
            box-shadow: 0px 3px 10px 3px;
          }
          
          i {
              opacity: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 50px;
              margin: auto;
              color: var(--color1);
              background-color: var(--color5);
              transition: all 0.7s ease-in-out;
              border-radius: 50px 0 50px 0;
            
            &:hover {
              opacity: 0.7;
              border: 1px solid var(--color5);
              box-shadow: 0px 3px 10px 3px var(--color5);
            }
          }
        }
    }
}