
@media (max-width: 1326px) and (min-width: 992px)
{
  // html, body
  // {
  //     overflow-x: hidden !important;
  // }


  .hero { 
    .item {
      width: 300px;
      margin: 0 0 50px 30px;
    }
  }
  
  // .about
  // {
  //     &::before 
  //     {
  //         top: 83% !important;
  //         left: 19.9% !important;
  //     }
  // }
}

@media screen and (min-width: 1133px) and (max-width: 1326px)
{
    .hero
    {
        &::before {
            top: 36%;
            right: 2%;
            width: 626px !important;
        }

        .hero-items {
            top: 52%;
            left: 8%;
        }
    }

    // .skills
    // {
    //     span::after 
    //     {
    //         left: 31px !important;
    //     }

    //     .prog
    //     {
    //         .javascript::after 
    //         {
    //             // top: 29px;
    //             left: 32px !important;
    //         }
    //     }
    // }
}


@media screen and (min-width: 992px) and (max-width: 1326px)
{
  .hero
  {
    &::before {
      top: 36%;
      right: 2%;
      width: 554px;
    }

    .hero-items {
      top: 52%;
      left: 8%;
    }
  }
}

// @media screen and (min-width: 769px) and (max-width: 991px)
// {
//   .hero
//   {
//     &::before {
//       top: 36%;
//       right: 2%;
//       width: 554px;
//     }

//     .hero-items {
//       top: 52%;
//       left: 8%;
//     }
//   }
// }

// @media screen and (min-width: 1025px) and (max-width: 1199px)
// {
//     // .skills
//     // {
//     //     span::after 
//     //     {
//     //         left: 20px !important;
//     //     }

//     //     .prog
//     //     {
//     //         .javascript::after 
//     //         {
//     //             // top: 29px;
//     //             // left: 21px !important;
//     //         }
//     //     }
//     // }
// }

// @media screen and (min-width: 991px) and (max-width: 1024px)
// {
//     // .skills
//     // {
//     //     span::after 
//     //     {
//     //         left: 22px !important;
//     //     }
//     // }
// }

// @media screen and (min-width: 769px) and (max-width: 1024px)
// {
//     .hero
//     {
//         &::before {
//             top: 39%;
//             right: 2%;
//             width: 46%;
//             // height: 37% !important;
//         }

//         .hero-items {
//             top: 52%;
//             left: 10%;
//         }
//     }
// }

@media screen and (max-width: 990px)
{
    .contant
    {
        .container {
            margin-left: 0 !important;

            ul:nth-of-type(2)
            {
                padding-left: 0 !important;
            }
        }
    }
}




// @media screen and (min-width: 576px) and (max-width:576px)
// {
//     // .skills
//     // {
//     //     .prog-item
//     //     {
//     //         margin-bottom: 5%;
            
//     //         // span::after 
//     //         // {
//     //         //     left: 63px !important;
//     //         // }
//     //     }
//     // }
// }


@media screen and (max-width: 768px)
{

    // ::-webkit-scrollbar 
    // {
    //     width: 0 !important;
    // }

    header
    {
        .header-items
        {
            justify-content: center !important;
        
            nav
            {
                display: none !important;

                a
                {
                    display: none !important;
                }

            //     .open, .close
            //     {
            //         display: block !important;
            //     }

                
            //     .close
            //     {
            //         position: absolute;
            //         top: 15px;
            //         right: 19px;

            //         i
            //         {
            //             color: var(--color10) !important;
            //         }
            //     }

            //     .list-nav:checked ~ .menu-nav
            //     {
            //         right: 0;
            //     }

            //     .menu-nav
            //     {
            //         position: fixed;
            //         width: 100%;
            //         height: 100%;
            //         background: var(--color1);
            //         right: -100%;
            //         top: 0;   
            //         text-align: center;
            //         padding: 100px 0;
            //         transition: .7s !important;
            //     }

            //     ul
            //     {
            //         flex-direction: column;
            //         padding: 2rem 0 0 0;

            //         a
            //         {
            //             color: var(--color10) !important;
                        
            //             &:hover
            //             {
            //                 color: var(--color6) !important;
            //             }
            //         }

            //         .active {
            //             color: var(--color6) !important;
            //         }
            //     }
            }
        }
    }

    .about
    {
      &::before
      {   
          display: none; 
      }
    }

    .skills
    {
      // padding: 50px 0 0 0;

      .prog-item
      {
        // margin-bottom: 6% !important;
        
        span::after 
        {
            left: 63px !important;
        }
      }
    }

    .contact
    {
        .myinfo {
            flex-direction: column;
            align-items: center;
            padding-left: 0 !important;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .hero
  {
    .hero-items
    {
      // text-align: center;
      // justify-content: center;
      // align-items: end;
      height: 439px;

      // &::before {
      //     width: 55%;
      // }
    }
  }
}

@media screen and (max-width: 991px) {
  .hero
  {
    padding: 125px 0 50px 0;

      &::before
      {
          top: 25% !important;
          right: 25% !important;
          width: 55%;     
      }

      .hero-items
      {
        text-align: center;
        // justify-content: center;
        // align-items: end;
        height: 365px;
        flex-direction: column-reverse;
          // top: 75.5%;
          // right: 24.1%;
      }
  }
  
  // .hero
  // {
  //   .hero-items
  //   {
  //     text-align: center;
  //     justify-content: center;
  //     align-items: end;
  //     // height: 439px;

  //     // &::before {
  //     //     width: 55%;
  //     // }
  //   }
  // }
}

@media screen and (min-width: 600px) and (max-width: 768px)
{
  // .hero
  // {

  //     &::before
  //     {
  //         top: 25% !important;
  //         right: 25% !important;
  //         width: 55%;     
  //     }

  //     .hero-items
  //     {
  //         top: 75.5%;
  //         right: 24.1%;
  //     }
  // }
}

@media screen and (min-width: 576px) and (max-width: 599px)
{
  .hero
  {

      // &::before
      // {
      //     top: 25% !important;
      //     right: 25% !important;
      //     width: 55%;     
      // }

      .hero-items
      {
          top: 75.5%;
          right: 17%;
      }
  }
}


// Start Small Screens (Smaller Smartphones)
@media screen and (max-width: 576px)
{

    header
    {
        nav
        {
            display: none !important;
        }
    }

    // .skills
    // {
    //     .prog-item
    //     {
    //         // width: 45% !important;
    //         margin: 3% 0;
    //     }
    // }

    // .about
    // {
    //     .about-items
    //     {
    //         margin-left: 0 !important;
    //     }
    // }
    
    // .projects
    // {
    //     .project-item
    //     {
    //         // width: 55% !important;
    //         // margin: 0 !important;
    //     }
    // }
}



@media screen and (min-width: 321px) and (max-width:576px)
{
    .skills
    {
        .prog-items
        {   
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            
            // .prog-item {
            //     margin-bottom: 20% !important;
            // }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 575px)
{
    .hero
    {
        &::before
        {
            top: 25% !important;
            right: 25% !important;
            width: 55%;     
        }

        .hero-items
        {
            top: 75.5%;
            right: 17%;
        }
    }
}


@media screen and (min-width: 376px) and (max-width: 479px)
{
    .hero
    {

        &::before
        {
            top: 25% !important;
            right: 12% !important;
            width: 80% !important;     
        }

        .hero-items
        {
            top: 75.5%;
            right: 5%;
        }
    }
}
// End Small Screens (Smaller Smartphones)

@media screen and (max-width: 483px)
{
    .contact
    {
        .social-media 
        {
            top: 0 !important;
            left: 0 !important;
            // width: auto;
            position: relative !important;
            display: flex !important;
            justify-content: space-evenly;
            padding-left: 0 !important;
        }
    }
}

// @media screen and (min-width: 376px) and (max-width: 425px)
// {
//     .hero
//     {

//         &::before
//         {
//             top: 25% !important;
//             right: 12% !important;
//             width: 80% !important;     
//         }

//         .hero-items
//         {
//             top: 75.5%;
//             left: 10%;
//         }
//     }
// }

@media screen and (min-width: 321px) and (max-width: 375px)
{
    // html, body
    // {
    //     // overflow-x: hidden !important;
    // }

    .hero
    {

        &::before
        {
            width: 80% !important;
            top: 27% !important;
            right: 12% !important;     
        }

        .hero-items
        {
            top: 75.5%;
            right: 3.6%;
        }
    }
}

@media screen and (max-width: 320px)
{
    p {
        font-size: 6vw !important;
    }
    
    h1 {
        font-size: 15vw !important;
    }

    h5 {
        font-size: 7vw !important;
    }

    header
    {
        .logo
        {
            font-size: 8.5vw !important;
            text-align: center;
        }
    }

    .hero
    {
        height: 80vh;

        &::before
        {
            right: 17% !important;
            width: 70%;
            height: 50%;
            top: 23%;
            // right: 9.9% !important;
            // width: 80% !important;
        }

        .hero-items
        {
          height: 378px;
          padding-bottom: 35px;

            h2
            {
                font-size: 8vw;
            }

            // h3
            // {
            //     font-size: 7vw;
            // }
        }
    }

    .skills
    {
     
        h1 {
            font-size: 17vw !important;
        }
        
        .prog-items {
            display: grid !important;
            grid-template-columns: 1fr;
            justify-items: center;

            h5 {
                font-size: 7vw ;
            }

            .prog {
                width: 8vw  !important;

                span::after 
                {
                    font-size: 5vw;
                }
            }
        }
    }

    .contact
    {
        .social-media
        {
            i {
                font-size: 10vw !important;
            }
        }

        li {
            font-size: 5vw !important;
        }
    }

    footer
    {
        p {
            font-size: 5vw !important;
        }
    }
}



















// // Start Small Screens (Smaller Smartphones)
// @media (min-width: 200px) and (max-width: 480px)
// {

// }
// // End Small Screens (Smaller Smartphones)





// // Start Medium Screens (Tablets And Larger Smartphones)
// @media (min-width: 481px) and (max-width: 768px)
// {
    
// }
// // End Medium Screens (Tablets And Larger Smartphones)





// // Start Large Screens (Laptops)
// @media (min-width: 1200px)
// {
    
// }
// // End Large Screens (Laptops)





// // Start XX Large Screens (Larger Desktops And Monitors)
// @media (min-width: 1400px)
// {
    
// }
// // End XX Large Screens (Larger Desktops And Monitors)


















/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger. // Screens (Smaller Smartphones)

* Medium, which has the md class infix is 768px or larger. // Screens (Tablets And Larger Smartphones)

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger. // Screens (Laptops)

* Extra extra large, which is infixed by xxl , is 1400px or larger. // Screens (Larger Desktops And Monitors)
*/