
@media (max-width: 1326px) and (min-width: 1200px)
{
  .hero { 
    .hero-items {
      height: 365px;
      justify-content: center !important;
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .hero
  {
      .hero-items
      {
        padding-left: 30px;

        justify-content: center !important;
        height: 360px;
      }
  }
}

@media screen and (max-width: 991px){
  .hero {
      // padding-top: 60px !important;
      
    .hero-items {
      flex-direction: column-reverse;
    }
  }

  .contact
  {
      .myinfo {
          flex-direction: column;
          align-items: center;
          padding-left: 0 !important;
      }

      .social-media 
      {
          top: 0 !important;
          left: 0 !important;
          position: relative !important;
          display: flex !important;
          justify-content: center;
          // gap: 50px;
          padding-left: 0 !important;
      }
  }
}

@media screen and (max-width: 991px) and (min-width: 420px){
  .hero {
    .hero-items {    
      & > div {
        text-align: center;    
      }

      h1 {
        font-size: 1.7em;
      }
    }
  }
}

@media screen and (max-width: 767px)
{
    header
    {
        .header-items
        {
            // justify-content: center !important;
            // height: 100%;

            // .logo {
            //   width: 250px;
            // }

            // .logo {
            //   margin-top: 40px;
            // }
        
            nav
            {

              // padding-bottom: 70px;
              // display: none !important;

                // a
                // {
                //     display: none !important;
                // }

                #openMenu, #closeMenu {
                  display: block !important;
                  font-size: 30px;
                  // padding-right: 30px;
                }



                // .list-nav:checked ~ .menu-nav
                // {
                //     right: 0;
                // }
                #menuNav {
                  height: 100vh;
                  width: 100%;
                  position: fixed;
                  right: 0;
                  top: 0;
                  display: none;

                  #menu{
                  position: absolute;
                  right: 0;
                  top: 0;
                  // top: 0;
                  width: 282px;
                  height: 366px;
                  // overflow: hidden;
                  padding: 40px 0;
                  text-align: center;
                  color: var(--color4);
                  border-radius: 0 0 0 20px;
                  transition: all 0.7s !important;
                  background-color: var(--color5);
                  box-shadow: 0 0 30px 10px var(--color4);

                                  
                    #closeMenu
                    {
                        position: absolute;
                        top: 15px;
                        right: 30px;
                        transition: all 0.7s ease-in-out;

                        i:hover
                        {
                          color: var(--color1) !important;
                        }
                    }

                    ul
                    {
                        flex-direction: column;
                        padding: 3rem 0 0 0;
    
                        // a:hover
                        // {
                        //   color: var(--color1);
                        // }
    
                        .active {
                          color: var(--color4) !important;
                        }
                    }
                  }
                }
                
            }
        }
    }

    .about
    {
      &::before
      {   
          display: none; 
      }
    }

    .skills
    {
      .prog-item
      {        
        span::after 
        {
            left: 63px !important;
        }
      }
    }

    // .contact
    // {
    //     .myinfo {
    //         flex-direction: column;
    //         align-items: center;
    //         padding-left: 0 !important;
    //     }

    //     .social-media 
    //     {
    //         top: 0 !important;
    //         left: 0 !important;
    //         position: relative !important;
    //         display: flex !important;
    //         justify-content: center;
    //         gap: 50px;
    //         padding-left: 0 !important;
    //     }
    // }
}

// Start Small Screens (Smaller Smartphones)
@media screen and (max-width: 576px)
{
    header
    {
        nav
        {
            display: none !important;
        }
    }
}

@media screen and (min-width: 321px) and (max-width:576px)
{
    .skills
    {
        .prog-items
        {   
            gap: 50px 0 !important;
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }

    .projects .projects-items {
      gap: 55px;
      width: 90%;
      margin: auto;
    }
}
// End Small Screens (Smaller Smartphones)

@media screen and (max-width: 576px)
{
  .hero {
    
    .img {
      width: 426px !important;
    }

  }
}

@media screen and (max-width: 419px){
  .hero {
    .hero-items {
      height: 385px;

      & > div {
        text-align: center;    
      }
      h1 {
        font-size: 1.5em !important;
      }
    }
  }

  .contact
  {
    .social-media
    {
      gap: 0 30px;

        i {
            font-size: 30px !important;
        }
    }
  }
}

@media screen and (max-width: 320px)
{
  p {
      font-size: 6vw !important;
  }

  h5 {
      font-size: 7vw !important;
  }

  header
  {
    .logo
    {
        font-size: 8.5vw !important;
        text-align: center;
    }
  }

  .skills
  {
    
      h1 {
          font-size: 17vw !important;
      }
      
      .prog-items {
          display: grid !important;
          grid-template-columns: 1fr;
          justify-items: center;

          h5 {
              font-size: 7vw ;
          }

          .prog {
              width: 8vw  !important;

              span::after 
              {
                  font-size: 5vw;
              }
          }
      }
  }

  footer
  {
      p {
          font-size: 5vw !important;
      }
  }
}

/*
bootstrap 5 responsive screen sizes:

* They include x-small which is between 0 and 576px.

* Small, which has the sm class infix is 576px or larger. // Screens (Smaller Smartphones)

* Medium, which has the md class infix is 768px or larger. // Screens (Tablets And Larger Smartphones)

* Large, which has the lg class infix is 992px or larger.

* Extra-large, which is infixed by xl , is 1200px or larger. // Screens (Laptops)

* Extra extra large, which is infixed by xxl , is 1400px or larger. // Screens (Larger Desktops And Monitors)
*/