:root
{
    --color1: #e3f2fd;
    --color2: #BBDEFB;
    --color3: #90CAF9;
    --color4: #64B5F6;
    --color5: #42A5F5;
    --color6: #2196F3;
    --color7: #1E88E5;
    --color8: #1976D2;
    --color9: #1565C0;
    --color10: #0D47A1;
    --color11: honeydew;
    --color12: #343a40;
    --color13: #383c40;
}